ul {
    list-style-type: none;
    width: 100%;
    height: 30em;
    overflow: auto;
}

h1 {
    padding-bottom: 10px;
    border-bottom: 2px solid white;
}

li {
    display: flex;
    margin: 5px;
}

li > input[type=checkbox] {
    flex: 0.1;
    padding: 5px 10px;
}

li > label {
    flex: 10;
    padding: 10px 10px;
    width: 100%;
    align-content: center;
}

li > button {
    flex: 2;
    margin: 5px 10px;
    font-size: 1em;
    width: 20%;
}

.application {
    background-color: #3b3b3b;
    color: white;
    border: 1px solid black;
    border-radius: 1em;
    padding: 15px;
    margin: 10% 30% 10% 30%;
    width: 25em;
    font-family: Arial, serif;
}

.checked > label {
    text-decoration: line-through;
}

.addition {
    display: flex;
    align-items: flex-end;
}

.addition > input[type=text] {
    flex: 11;

    border: none;
    padding: 5px 1px;
    margin: 0 10px 0 0;
    font-size: 1em;
    width: 80%;
    border-bottom: 2px solid white;

    transition: border linear 0.5s;
}

.addition > button {
    padding: 5px 1px;
    width: 20%;
}

#todoList {
    padding: 0;
    margin: 0;
}
